<mat-card class="login-card">
  <mat-spinner [style.display]="loading ? 'block' : 'none'" [diameter]="30" mode="indeterminate"
    [style.float]="'right'"></mat-spinner>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- The form goes here -->
    <form class="login-form">
      <!-- Form elements are here -->
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>